version: '3'
services:
  roscore:
    network_mode: host
    image: ros:melodic-ros-base
    restart: always
    volumes:
      - ./logs:/root/.ros/log:rw
    env_file:
      - ../ros.env
    command: roscore
  monitor:
    image: jeguzzi/df:docker-ui
    volumes:
      - ./logs:/root/.ros/log:rw
      - /var/run/docker.sock:/var/run/docker.sock
    command: roslaunch docker_ui monitor.launch 
    network_mode: host
    restart: always
    env_file:
      - ../ros.env
      - ../monitor.env
    healthcheck:
      test: ["CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/11311"]
      interval: 30s
      timeout: 2s
      retries: 3
    depends_on:
      - roscore

  kvaser_bridge:
    network_mode: host
    image: tamuqcar:kvaser_bridge
    privileged: true
    restart: always
    volumes:
     - ./logs:/root/.ros/log:rw
     - /sys/fs/cgroup:/sys/fs/cgroup:ro
     - /var/run/docker.sock:/host/var/run/docker.sock 
     - /proc:/host/proc:ro 
     - /boot:/host/boot:ro 
     - /lib/modules:/host/lib/modules:ro 
     - /usr:/host/usr:ro 
     - ./launch/kvaser_bridge.launch:/kvaser_bridge.launch
    command: roslaunch /kvaser_bridge.launch
    depends_on:
      - roscore
      - monitor
    healthcheck:
      test: ["CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/11311"]
      interval: 30s
      timeout: 2s
      retries: 3
    env_file: ../ros.env

  pacmod:
    network_mode: host
    image: tamuqcar:pacmod
    privileged: true
    restart: always
    volumes:
     - ./logs:/root/.ros/log:rw
     - /sys/fs/cgroup:/sys/fs/cgroup:ro
     - /var/run/docker.sock:/host/var/run/docker.sock 
     - /proc:/host/proc:ro 
     - /boot:/host/boot:ro 
     - /lib/modules:/host/lib/modules:ro 
     - /usr:/host/usr:ro 
     - ./launch/pacmod.launch:/pacmod.launch
    command: roslaunch /pacmod.launch
    depends_on:
      - roscore
      - monitor
    healthcheck:
      test: ["CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/11311"]
      interval: 30s
      timeout: 2s
      retries: 3
    env_file: ../ros.env

  pacmod_joy:
    network_mode: host
    image: tamuqcar:pacmod
    privileged: true
    restart: always
    volumes:
     - ./logs:/root/.ros/log:rw
     - /sys/fs/cgroup:/sys/fs/cgroup:ro
     - /var/run/docker.sock:/host/var/run/docker.sock 
     - /proc:/host/proc:ro 
     - /boot:/host/boot:ro 
     - /lib/modules:/host/lib/modules:ro 
     - /usr:/host/usr:ro 
     - ./launch/pacmod_game_control.launch:/pacmod_game_control.launch
    command: roslaunch /pacmod_game_control.launch
    depends_on:
      - roscore
      - monitor
    healthcheck:
      test: ["CMD", "/bin/bash", "-c", "cat < /dev/null > /dev/tcp/localhost/11311"]
      interval: 30s
      timeout: 2s
      retries: 3
    env_file: ../ros.env
